name: build

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

permissions:
  contents: read

env:
  IN_CI_ENVIRONMENT: 1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install uv
          uv pip install --system ".[dev]"
      - name: Lint with ruff
        run: |
          ruff check src/skiptir/*.py test/*.py
      # - name: Type check with pyright
      #   run: |
      #     python -m pyright src/skiptir
      - name: Run pytest
        run: |
          python -m pytest -vvv
